.footer {
  background-color: #2D314D;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__inner-content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 55px;
  list-style-type: none;
}

.footer__inner-first-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__inner-list-item-link {
  color: #ffffff;
  text-decoration: none;
}

.footer__inner-second-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__buttun {
  padding: 8px 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.footer__buttun:hover {
  opacity: 0.4;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.footer__buttun:active {
  opacity: 1;
  background: linear-gradient(135deg, #33D35E 0%, #00ccff 99.58%);
}

.footer__inner-second-content {
  text-align: right;
}

@media only screen and (max-width:630px) {

  .footer__inner{
    flex-direction: column;
  }

  .footer__inner-content-list{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer__inner-first-list{
    margin-bottom: 30px;
    text-align: center;
  }

  .footer__inner-second-list{
    margin-bottom: 30px;
    text-align: center;
  }

  .footer__inner-second-content{
    text-align: center;
  }

}